.navbar{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 1% 5%;
    background-color: whitesmoke;
    border-radius: 2%;
}
.title{
    margin-left: 5%;
}

.refer{
    margin-right: 5%;
    margin-top: 1.5%;
}

.refer a{
    text-decoration: none;
    margin-right: 10%;
}